.pricing ul > input {
  text-align: center;
  background: var(--brand-white) !important;
  border-color: var(--brand-black) !important;
}

.pricing ul > input:after {
  background: var(--brand-white) !important;
}

.pricing ul > li[aria-selected='true'] input {
  background: var(--brand-white) !important;
  border-color: var(--brand-white) !important;
}

.pricing ul > li[aria-selected='true'] input:after {
  background: var(--color-primary) !important;
}

.pricing ul > li[class*='Tabs_tab'] {
  padding: calc(var(--spacer) / 4) var(--spacer);
}

.pricing [class*='Tabs_tabContent'] {
  padding-left: 0;
  padding-right: 0;
}

.title {
  font-size: var(--font-size-base);
  margin-top: var(--spacer);
  margin-bottom: 0;
  padding-bottom: calc(var(--spacer) / 4);
  color: var(--font-color-text);
}
