.wrapper {
  margin-top: calc(var(--spacer) * 3);
  margin-bottom: var(--spacer);
}

.wrapper > div:first-of-type {
  margin-bottom: var(--spacer);
}

.container {
  position: relative;
  padding: var(--spacer) 0;
}

/* Full width background color */
.container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100vw;
  background: var(--background-highlight);
  z-index: -1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacer);
  padding: var(--spacer) 0;
}

.stat {
  padding: var(--spacer);
  text-align: center;
  border-radius: var(--border-radius);
  background: var(--brand-white);
  border: var(--border-size-lg) solid var(--border-color);
  width: 100%;
}

.stat h4 {
  color: var(--color-primary);
  font-size: var(--font-size-h1);
  margin-bottom: calc(var(--spacer) / 3);
}

.stat span {
  font-weight: var(--font-weight-bold);
}

@media screen and (min-width: 60rem) {
  .content {
    flex-direction: row;
  }
}
