.wrapper {
  margin: calc(var(--spacer) * 3) 0 0;
}

.wrapper > div:first-of-type {
  margin-bottom: var(--spacer);
}

.container {
  position: relative;
  padding: calc(var(--spacer) * 2) 0;
}

/* Full width background color */
.container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100vw;
  background: var(--brand-black);
  z-index: -1;
}

.title {
  margin-bottom: var(--spacer);
  color: var(--color-secondary);
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  max-height: 8rem;
}

.logo,
.whiteLogo {
  width: 100%;
  max-width: 15rem;
  height: 100%;
  object-fit: contain;
}

.whiteLogo {
  filter: brightness(500%) contrast(60%) saturate(0%) blur(0px) hue-rotate(0deg);
}

.footer {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
}

.footer a,
.footer a:hover,
.footer a:focus,
.footer a:active {
  color: var(--color-primary);
}
