.section {
  margin-top: calc(var(--spacer) * 3);
}

.section h3 {
  font-size: var(--font-size-large);
  color: var(--color-primary);
}

.section h3 span {
  font-size: var(--font-size-small);
  color: var(--color-primary);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-base);
}

.section [class*='button'],
.allAssetsButton {
  margin-top: var(--spacer);
}

.poweredBySection {
  position: relative;
  margin-bottom: calc(var(--spacer) * -2);
  padding: var(--spacer) 0;
}

.poweredBySection:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100vw;
  background: var(--color-primary);
  z-index: -1;
}

.poweredBy {
  display: block;
  text-align: center;
}

.poweredBy svg {
  width: 12rem;
  height: 6rem;
  margin: 0 auto;
}

.poweredBy p {
  font-weight: bold;
  color: var(--brand-white);
  margin: 0;
}
