.header {
  max-width: var(--break-point--small);
  margin: 0 auto;
  margin-bottom: var(--spacer);
}

.header > div {
  margin-bottom: calc(var(--spacer) / 2);
  text-align: center;
}

.subtitle {
  text-align: center;
  color: var(--color-secondary);
}
